// PRELOADER CSS

@import 'preloader-animations';

#preloader {
	background: linear-gradient(left, #00BBFF, #00BBFF 14.3%, #2EB5E5 14.3%, #2EB5E5 28.6%, #E6E6E6 28.6%, #E6E6E6 42.9%, #F3D166 42.9%, #F3D166 57.2%, #222233 57.2%, #222233 71.5%, #444444 71.5%, #444444 85.8%, #85DB8C 85.8%);
	transform: scale(.9);
	width: 1200px;
	position: absolute;
	height: 210px;
	left: 50%;
	top: 50%;
	margin: -65px -600px;
  z-index: 2;
}
